{% load static %}
<footer class="page-footer pink accent-4">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Dr. Lourival Rodrigues</h5>
          <p class="grey-text text-lighten-4">Ginecologista e Obstetra, especialização em colposcopia em Ultrassonografia Ginecológica e Obstétricia.</p>


        </div>
        <div class="row container center">
          <div class="col l4 s4 m4">
            <i class="mdi mdi-instagram mdi-48px" aria-hidden="true"></i><br><span>@lourivalrodriguesgo</span>
          </div>
          <div class="col l4 s4 m4">
            <i class="mdi mdi-facebook-box mdi-48px" aria-hidden="true"></i><br><span>@lourivalrodriguesgo</span>
          </div>
          <div class="col l4 s4 m4">
            <i class="mdi mdi-phone-in-talk mdi-48px" aria-hidden="true"></i><br><span>(87)9966-94511</span>
          </div>
      </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
       <a class="brown-text text-lighten-3" href="http://materializecss.com">www.tag.i.com.br</a>
      </div>
    </div>
  </footer>