{% load staticfiles %}


     <div class="section white">
      <div class="row container center">
          <h4 class="titulo_section">Principais Atendimentos</h4>

          <div class="col l4 s12 m4 ">
              <img src="{% static 'images/icone_utero.png' %}" alt=""><br><h5 class="titulo_atendimentos">Consulta Ginecológica</h5>
              <div class="card-panel pink lighten-4">
                  <span class="white-text content_atendimentos">O Ginecologista tem papel bastante na vida da mulher,
                      desde a adolescência até a idade adulta. É esse profissional que vai
                      acompanhá-la por toda sua vida, provendo informações, realizando prevenções,
                      tratamentos e controlando sua saúde.
                  </span>
              </div>
          </div>
          <div class="col l4 s12 m4">
            <img src="{% static 'images/pre-natal.png' %}" alt=""><br><h5 class="titulo_atendimentos">Pré - Natal</h5>
              <div class="card-panel pink lighten-4">
                  <span class="white-text content_atendimentos">É importante que a s futuras mamães comecem a fazer
                      seu pré-natal assim que tiverem a gravidez confirmada ou antes mesmo de
                      pensar em engravidar, alguns exames e medicações são importantes para
                      prevenir problemas que possam afetar a criança ou o seu desenvolvimento
                      ainda no útero.
                  </span>
              </div>
          </div>
          <div class="col l4 s12 m4">
            <img src="{% static 'images/preventivo.png' %}" alt=""><br><h5 class="titulo_atendimentos">Exame Preventivo</h5>
              <div class="card-panel pink lighten-4">
                  <span class="white-text content_atendimentos">O exame preventivo do câncer do colo do útero (Papanicolau)
                      é a principal estratégia para detectar lesões no colo do útero. É indolor,
                      simples e rápido. Mulheres grávidas também podem se submeter ao exame, sem
                      prejuízo para a saúde do bebê. Para realizar a mulher não pode está menstruada
                      ou ter relações no dia anterior ao exame.
                  </span>
              </div>
          </div>
      </div>
      <div class="row container center">
          <div class="col l4 s12 m4">
              <img src="{% static 'images/colposcopia.png' %}" alt=""><br><h5 class="titulo_atendimentos">Colposcopia</h5>
              <div class="card-panel pink lighten-4">
                  <span class="white-text content_atendimentos">É um exame que permite visualizar a vagina e o colo do
                      útero através de um aparelho chamado Colposcópio. Este exame é um grande
                      aliado no diagnóstico e tratamento do HPV e do câncer do colo do útero. O exame
                      é realizado no próprio consultório médico, é indolor. Pode ser realizado em
                      mulheres grávidas.
                  </span>
              </div>
          </div>
          <div class="col l4 s12 m4">
            <img src="{% static 'images/ultrason.png' %}" alt=""><br><h5 class="titulo_atendimentos">Ultrassonografia Oabstétrica</h5>
              <div class="card-panel pink lighten-4">
                  <span class="white-text content_atendimentos">A ultrassonografia, conhecida também como ecografia, é um exame
                      não invasivo que consiste na emissão de ondas de som com o intuito de criar uma imagem.
                      Na ultrassonografia obstétrica, observamos o feto, a placenta, o líquido e muitas outras
                      coisas sobre como anda o seu bebê.
                  </span>
              </div>
          </div>
          <div class="col l4 s12 m4">
            <img src="{% static 'images/transvaginal.png' %}" alt=""><br><h5 class="titulo_atendimentos">Ultrassonografia Transvaginal</h5>
              <div class="card-panel pink lighten-4">
                  <span class="white-text content_atendimentos">A ultrassonografia, conhecida também como ecografia, é um exame não
                      invasivo que consiste na emissão de ondas de som com o intuito de criar uma imagem.
                      Na ultrassonografia transvaginal, observamos o útero e seus anexos, ainda é precisa no
                      diagnóstico de várias doenças que acomete a região pélvica da mulher.
                  </span>
              </div>
          </div>
      </div>
    </div>
