{% load static %}
  {% block header %}
   <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h3 class="header center light grey-text text-lighten-3">Acesse nossa Área do Paciente!</h3>
        <div class="row center">
          <h5 class="header col s12 light">E tenho acesso a seus exames com apenas um clique!</h5>
        </div>
        <div class="row center">
          <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Entrar</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax">
        <img src="{% static 'images/header-1.jpg' %}" alt="Unsplashed background img 1">
    </div>
  </div>
  {% endblock header %}